// .nav-bar-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }

// .nav-bar-ul {
//   display: flex;
//   align-items: center;
//   margin: 0;
//   padding: 0;
//   gap: 2rem;
// }

// .active button {
//   background-color: #eee;
//   font-weight: bold;
// }

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
}
