<div class="card" style="width: 90vw">
  <p-table
    #dt
    [value]="courseList"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="10"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Título</th>
        <th style="width: 30%">Descripción</th>
        <th style="width: 20%">Inicio</th>
        <th style="width: 20%">Fin</th>
        <th style="width: 10%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-course>
      <tr>
        <td>{{ course.title }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.startDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ course.endDate | date : "dd/MM/yyyy" }}</td>
        <td class="text-center">
          <i class="text-primary fa-solid fa-eye" style="cursor: pointer" (click)="goToDetails(course.id)"></i>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No hay cursos disponibles.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
